@using System.Net.Mime
@using QuizStep.Data.Entity
@model QuizStep.Models.QuizModels.MainViewModel
@{
    ViewData["Title"] = "Question list";
}

<p>Your opened Tests</p>
<div class="container">
    <div class="row">
        @foreach (var test in @Model.Tests)
        {
            @Html.DisplayFor(t=>test, "TestCard");
        }
    </div>
</div>